@import url("my-diaries.css");
hr {
  width: 544px; 
}
img.footer-img {
  width: 30px;
}
footer {
  margin-top: 36%;
}
footer>div {
  margin: 11px;
  padding: 10px;
}
form {
  display: block;
  margin: 5%;
} 
div.nav-links {
  margin-left: 60%;
}
label {
  display: block;
  width: 200px; 
  font-size: 15px;
}
.input-entry {
  width: 100%; 
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid gray;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  width: 850px;
}
#side-nav-head {
  margin-top: 6%; 
  text-align: start; 
  margin-left: 3%;
}
button {
  margin-top: 3%;
  cursor: pointer;
  padding: 5px;
  color: whitesmoke;
  border-radius: 6px;
  border: 1px solid green;
}

div.side-nav-links {
  margin-top: 25%;
  font-size: 16px;
}
div.side-nav-links>a {
  color: whitesmoke; 
  text-decoration: none; 
  display: block; 
  padding-top: 18px; 
  padding-bottom: 18px; 
  border-top: 1px solid white; 
  border-bottom: 1px solid white;
}
#active {
  font-family: cursive;
}
.img-link {
  width: 35px; 
  vertical-align: middle; 
  margin-left: 4%; 
  border-radius: 25px;
}
#logout {
  margin-top: 65%;
}
div.credits {
  font-size: 15px;
}
#description-div {
  margin-top: 4%;
}
#nav-div {
  position: fixed; 
  width: 100%;
  z-index: 1; 
  background-color: #266189; 
  top: 0;
}
.table-div-container {
  margin-bottom: 10%;
  color: grey;
}
.table-main-row {
  margin-top: 5%;
}

.table-div {
  position: fixed; 
  background-color: white; 
  overflow: auto; 
  width: 100%;
  margin-bottom: 2%;
  margin-left: 12%;
  top: 100; 
  bottom: 3;
  height: 80%;
}
.modal {
  z-index: 1;
  margin-top: 8%;
  margin-left: 25%;
  width: 63%;
  height: 65%;
}
.modal-footer {
  margin-top: 3%;
}
#section-title {
  color: black; 
  margin-top: 3%; 
  margin-bottom: 1px;
  margin-left: 12px;
  display: inline-block;
}
button {
  margin-left: 55%;
  cursor: pointer;
}
button>img {
  width: 35px;
  vertical-align: middle;
}
table {
  margin-top: 20px; 
  margin-left: 8px; 
  margin-right: 8px; 
  margin-bottom: 18px;
  font-size: 14px;
}
.title {
  width: 150px;
  text-align: start;
}
.entry {
  white-space: nowrap; 
  max-width: 849px;
  overflow: hidden; 
  text-overflow: ellipsis;
  text-align: start;
  padding-left: 12px;
}

.time>h4 {
  width: 300px;
}

tr:hover {
  cursor: pointer;
  background-color: #dcfac9;
}

hr {
  width: 850px;
}