@import url("./my-diaries.css");
body {
  background-color: #266189;
  color: #eeffff;
}
hr {
  width: 544px; 
}
.modal-title {
  color: white;
}
img.footer-img {
  width: 30px;
}
.modal-footer {
  margin: 0;
}
#modal-div {
  padding: 15px; 
  margin-top: 5%;
}
.modal-body {
  padding: 50px;
}
div.container {
  margin-left: 14%;
}
div.nav-links {
  margin-left: 63%;
}
hr {
  width: 850px;
}
#side-nav-head {
  margin-top: 6%; 
  text-align: start; 
  margin-left: 3%;
}
div.side-nav-links {
  margin-top: 25%;
  font-size: 16px;
}
footer>div {
  margin-left: 1%;
}
div.side-nav-links>a {
  color: whitesmoke; 
  text-decoration: none; 
  display: block; 
  padding-top: 18px; 
  padding-bottom: 18px; 
  border-top: 1px solid white; 
  border-bottom: 1px solid white;
}
#active {
  font-family: cursive;
}
.img-link {
  width: 35px; 
  vertical-align: middle; 
  margin-left: 4%; 
  border-radius: 25px;
}
#logout {
  margin-top: 65%;
}
div.main-content {
  margin-left: 10%;
  width: auto;
  background-color: white 
}
footer {
  margin-left: 13%
}
#main-div {
  margin-left: 5%;
}
div.credits {
  font-size: 15px;
}
#end {
  margin-left: 27%;
}
#bottom-line {
  width: 630px;
}
.modal {
  z-index: 10;
  margin-top: 9%;
  margin-left: 25%;
  width: 53%;
  height: 65%;
}
div.modal-footer>button {
  cursor: pointer;
  padding: 5px;
  background-color: blue;
  color: whitesmoke;
  border-radius: 6px;
  border: 1px solid green;
}
div#end>small {
  margin-left: 30%;
}
#nav-div {
  position: fixed; 
  width: 100%; 
  z-index: 1; 
  background-color: #266189; 
  top: 0;
}
div.entry {
  margin-left: 5%; 
  margin-top: 10%;
}
h4 {
  display: inline-flex
}
#time {
  margin-left: 72%
}
div.main-content {
  background-color: #eeffff;
  color: rgba(4, 3, 1, 0.6);
  font-size: 16px;
}
