body {
  background-color: #266189;
  color: #eeffff;
}
hr {
  width: 544px; 
}
main {
  background-image: url(../images/diary-edit.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
}
div#content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
}
img.footer-img {
  width: 30px;
}
footer div img.footer-img:hover {
  transition: .5s;
  transform: scale(1.2) rotate(360deg);
}
#social-handles {
  margin-left: -10px; 
  margin-right: 60px;
}
.intro {
  line-height: 1.7;
}
#reach {
  margin-right: 4%;
}
#terms {
  font-size: 15px;
  margin-left: 7%
}

div.row>div.section {
  border: 2px solid #eeffff;
  margin: 15px;
  padding: 10px;
  border-radius: 9px;
}
p>a {
  text-decoration: none;
  color: beige;
}
button {
  padding: 15px; 
  border-radius: 10%; 
  background-color: #1d4a47; 
  color: whitesmoke;
  margin-bottom: 8px;
}
.diary-section {
  border: 1px solid cyan; 
  margin: 15px; 
  border-radius: 33px;
}
.diary-section > p {
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
p>a:hover {
  color: #1d4a47;
}
footer {
  margin-top: 25px;
}
footer>div {
  margin-left: 19px;
  padding: 10px;
} 