body {
  background-color: #266189;
  color: #eeffff;
}
figure {
  text-align: center;
}
figure>img {
  width: 90px; 
  vertical-align: middle;
}
.jumbotron {
  background-color: white;
  justify-content: center;
  border-radius: 5px;  
}
.text-input {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 8px;
  border: 1px solid grey;
  color: grey;
  border-radius: 3px;
}
.btn {
  margin-top: 30px;
  background-color: #0363c9;
  min-width: 94%;
  margin-bottom: 6%;
  padding: 8px 0;  
  color: white;
  cursor: pointer;
  border-radius: 9px;
}
a { 
  text-decoration: none;
  color: cornflowerblue;
  font-size: 13px;
  margin: 12px; 
  margin-right: auto;
  margin-bottom: 15%;
}
a:hover {
  color: brown;
}
main.row {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .jumbotron {
    width: 90vw;
    margin-left: 5vw;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron {
    width: 70vw;
    margin-left: 15vw;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron {
    width: 50vw;
    margin-left: 25vw;
  }
}
@media screen and (min-width: 1200px) {
  .jumbotron {
    width: 40vw;
    margin-left: 30vw;
  }
}