body {
  background-color: #266189;
  color: #eeffff;
}
.center {
  margin-left: 25%;
  margin-right: 25%;
}
figure {
  text-align: center;
}
figure>img {
  width: 90px; 
  vertical-align: middle;
}
div.col-1 {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  margin-left: 37.5%;
  margin-right: 37.5%;
}
input.form-group {
  margin-left: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
}
button {
  background-color: #0363c9;
  color: white;
  border-radius: 9px;
  margin-top: 15px; 
  margin-left: 75px;
}
a { 
  text-decoration: none;
  color: cornflowerblue;
  font-size: 13px;
  margin: 12px; 
}
a:hover {
  color: brown;
}
