body {
  background-color: #266189;
  color: #eeffff;
}
figure {
  text-align: center;
}
figure>img {
  width: 90px; 
  vertical-align: middle;
}
.jumbotron {
  background-color: white;
  justify-content: center;
  width: 40%;
  border-radius: 5px;  
}
.text-input {
  display: block;
  width: 400px;
  margin: 18px;
  padding: 8px;
  border: 1px solid grey;
  color: grey;
  border-radius: 3px;
}
.btn {
  text-align: center;
  margin-top: 25px;
  background-color: #0363c9;
  padding: 5px 0;  
  color: white;
  cursor: pointer;
  border-radius: 9px;
}
a { 
  text-decoration: none;
  color: cornflowerblue;
  font-size: 13px;
  margin: 12px; 
  margin-right: auto;
}
a:hover {
  color: brown;
}
main.row {
  justify-content: center;
  align-items: center;
}