@import url("dashboard.css");
hr {
  width: 544px; 
}
img.footer-img {
  width: 30px;
}
#nav-div {
  position: fixed; 
  width: 100%; 
  z-index: 1; 
  background-color: #266189; 
  top: 0; 
}
#inline-form {
  margin-left: 20%;
  margin-right: 2%; 
  display: inline;
}
form {
  display: inline-flex;
}
input {
  color: #495057; 
  background-color: #fff; 
  width: 100%; 
  padding: 8px; 
  border-radius: 7px;
}
form>button {
  color: white; 
  background-color: #0069d9; 
  border-color: #0062cc; cursor: pointer; 
  padding: 5px; 
  border-radius: 8px; 
  margin-left: 8px;
}
footer {
  margin-top: 25px;
}
footer>div {
  margin: 11px;
  padding: 10px;
} 
div.container {
  margin-left: 14%;
}
div.nav-links {
  margin-left: 8%;
}
hr {
  width: 850px;
}
#side-nav-head {
  margin-top: 6%; 
  text-align: start; 
  margin-left: 3%;
}
#active {
  font-family: cursive;
}
.img-link {
  width: 35px; 
  vertical-align: middle; 
  margin-left: 4%; 
  border-radius: 25px;
}
#logout {
  margin-top: 65%;
}
div.jumbotron {
  background-color: #ffffff;
  margin-left: 13%;
}
.jumbotron>.row {
  color: black
}
div.div-diaries {
  font-size: 14px;
}
div.div-diary {
  border: 1px solid whitesmoke; 
  margin-bottom: 10%; 
  background-color: #0c2623; 
  color: whitesmoke; 
  background-image: url(../images/diary-icon.png); 
  background-repeat: no-repeat; 
  background-size: 100%;
}
.img-cover {
  background-color: rgba(0, 0, 0, 0.8);
}
div.diary-detail {
  max-width: 200px;
}
.diary-name {
  margin-top: 2%; 
  margin-bottom: 2%;
}
.diary-desc {
  margin-top: 20%; 
  margin-bottom: 2%;
}
.diary-entry {
  margin-top: 36%;
}
.diary-open {
  margin-top: 30%; 
  text-align: center; 
  margin-bottom: 15%;
}
footer {
  margin-left: 14%;
  padding: 2px;
  margin-top: 4px;
}
div.credits {
  font-size: 15px;
}
div.jumbotron {
  margin-top: 9%;
}
div.jumbotron-child {
  margin-top: 5%;
}
.diary-name {
  max-width: 200px;
}